

.underRain{
    width:fit-content;
    margin: 0 auto;
}
body{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px;
}
h2 {
    display: block;
    width:fit-content;
}
html{
    background-color:#969f7b ;
}
button{
    border-style:none;
    outline-style: solid;
    outline-width:5px;
    outline-color:#3e4231;
    width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;    
    background: #969f7b;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;;
}

#defMeasure{
    background-color:#f74141 ;
}

#hiddenMsgLeft{
    height:bottom;
    text-align:left;
    position: absolute;
    left: 2%;
    bottom: 2%;
}

#hiddenMsgRight{
    height:bottom;
    text-align:right;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
input[type=text], input[type=password]{
    border-style:none;
    outline-style: solid;
    outline-width:5px;
    outline-color:#3e4231;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;    
    background: #969f7b;
}
input[type=submit] {
    background: #969f7b;
    border-style:none;
    outline-style:solid;
    outline-width:5px;
    outline-color:#3e4231;
    width: 15%;
    padding: 0.5%;
    margin: 5px 0 10px 0;
    display: inline-block;  
}