<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_frontpage.css') }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Archives List</title>
  </head>
  <h1>
    <p>Welcome to the Archives</p>
    <p>What records would you like to view?</p>
  </h1>
  <body>
    "Put the origin of the Falling here... Just do this when you dont want to work on the backend/database"
    <p id="hiddenMsgLeft">How do you know they aren't copromised?</p>
  </body>
  
  
</html>