<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_frontpage.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
  </head>

  <body>
    <h1>Edit Article</h1>
    <form action ="{{ url_for('admin.edit_article', slug=article.slug) }}" method="post">
    <div id="editorTitle">
        {{ article.title|safe }}
    </div>

    <div id="editor">
        {{ article.body|safe }}
    </div>

        <input type="hidden" name="title" id="quillTitle">
        <input type="hidden" name="body" id="quillBody">
        <button type="submit" class="button-link">Submit Changes</button>
    </form>
    <script>
        const quillTitle = new Quill('#editorTitle',{theme: 'snow'});
        const quillBody = new Quill('#editor',{theme: 'snow'});

        document.querySelector('form').onsubmit = function() {
            document.querySelector('#quillTitle').value = quillTitle.root.innerHTML;
            // Get the content of the Quill editor and set it to the hidden input 
            document.querySelector('#quillBody').value = quillBody.root.innerHTML;
        };
    </script>
  </body>
</html>
