<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_frontpage.css') }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login_signup_page</title>
  </head>
  <h1>
    WELCOME TO THE ARCHIVES, PLEASE REGISTER OR LOG YOUR ENTRY
  </h1>
  <body>
    <p> New to the Archives? </p>
    <!-- direct to signup page -->
      <a href="{{ url_for('auth.signup') }}" class="button-link-inline">
      Signup Here
    </a>
    <p> A returning member? Please Log your entrance.</p>
    <!-- formats how the user inputs the info that the site will use for login -->
    <form action="{{ url_for('auth.login') }}" method="post">
      <label for="username">Archivist Handle:</label>
      <input type="text" name="username" id="username" required><br><br>
    
      <label for="password">Passcode:</label>
      <input type="password" name="password" id="password" required><br><br>
    
      <input type="submit" value="Submit" class="button-link">
    </form>

<!-- Flash messages are used to display messages to the user, such as errors or success messages.-->
<!-- consider a popup instead -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </body>

  
  
</html>